#logo {
  margin: 20px 0;
  text-align: center;
}
#logo a {
  font: 38px/68px 'Helvetica Neue', Helvetica, Arial, sans-serif; letter-spacing: 0;
  display: block;
  margin: 0 auto;
  border-bottom: 1px solid #222;
  padding-bottom: 10px;
  text-decoration: none;
  color: #000;
}
#logo a:hover {
  text-decoration: none;
}
#description {
  margin-bottom: 20px;
  text-align: center;
  font-style: italic;
}
#description p {
  font-size: 12px
}